@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(252, 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-black: hsl(252, 30%, 17%);
  --color-dark: hsl(252, 30%, 17%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-light);
  color: var(--color-dark);
  /* background-image: url(./images/Background.png); */
}

.container {
  padding: 40px;
  border-radius: 20px;
  border: 1.5px solid #6c567e;
  background: var(--color-white);
}

.container .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.container .form.signin,
.container.signinForm .form.signup {
  display: none;
}

.container.signinForm .form.signin {
  display: flex;
}

.container .form h2 {
  color: var(--color-primary);
  font-weight: 600;
  letter-spacing: 0.1em;
}

.container .form .inputBox {
  position: relative;
  width: 300px;
}

.container .form .inputBox input {
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  border: 2px solid var(--color-primary);
  color: var(--color-dark);
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;

  transition: 0.5s;
  outline: none;
}

.container .form .inputBox span {
  position: absolute;
  left: 0;
  padding: 12px 10px 12px 48px;
  pointer-events: none;
  font-size: 1em;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
  transform: translateY(9px);
}

.container .form .inputBox input:valid ~ span,
.container .form .inputBox input:focus ~ span {
  color: var(--color-light);
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  transform: translateX(25px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 8px;
  border-radius: 10px;
  letter-spacing: 0.1em;
}

.container .form .inputBox input:valid,
.container .form .inputBox input:focus {
  border: 1px solid var(--color-primary);
}

.container .form .inputBox i {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 25px;
  padding: 2px 0;
  padding-right: 8px;
  color: var(--color-primary);
  border-right: 1px solid var(--color-primary);
}

.container .form .inputBox input[type="submit"] {
  background: var(--color-primary);
  color: var(--color-light);
  padding: 10px 0;
  font-weight: 500;
  cursor: pointer;
  /* box-shadow: -5px -5px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35); */
}

.container .form p {
  color: rgba(41, 8, 8, 0.856);
  font-size: 0.75em;
  font-weight: 300;
}

.container .form p a {
  font-weight: 500;
  color: #9b44d1;
}
